/** --------------------------------------------------------------
 *  Responsive design
 */
img {
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}


@media screen and (max-width: 750px) {
    .sidebar {
        //width: 100%;
        display: none;
    }

    .main article.article {
        padding-right:2%;
        padding-left:2%;
    }

    .footer-column {
        width: 96%;
        padding-right:2%;
        padding-left:2%;
    }
}


@media screen and (max-width: 700px) {
    .navbar2 {
        display: none;
    }
}


@media screen and (max-width: 560px) {
     .site-logo-text {
         width: 90%;
     }
 }
