/**
* Anax Flat theme.
*/
@import url(modules.less);

@navbarItemBgColor: #eeaaee;
@navbarAlternateColor:#e16ae1;
@navbarSelectedColor:#eeeeaa;
@bodyBackgroundColor:#AEA;

@fontColor:#2b2bd4;
@headingsColor:#6a6ae1;



body {
    background: linear-gradient( 120deg, @bodyBackgroundColor, @navbarAlternateColor, @navbarSelectedColor);
    color:@fontColor;
}

h1, h2, h3, h4 {
    color:@headingsColor;
}

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}





// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

// Style navbar
.rm-desktop li {
    background-color: @navbarItemBgColor;
    border:2px solid @navbarAlternateColor;
    border-radius: 6px;
}

.rm-desktop li:hover {
    background-color: @navbarAlternateColor;
}

.rm-desktop li:hover a {
    text-decoration: none !important;
}


.rm-desktop li.selected {
    background-color: @navbarSelectedColor;
}

// Size each item in the header
.site-logo-text,
.navbar2,
.profile {
    float: left;
    width: 60%;
    padding-top:0.4em;
}

.site-header {
    height: 80px;
}

// Site title
.site-logo-text {
    width: 30%;
    font-size: 2em;
    a {
        text-decoration: none;
        color:@navbarAlternateColor;
    }
}
